{% load static %}
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Keywords" content="最新,最新章节,都市小说,阅读" />
        <meta name="description" content="随身带个侏罗纪最新章节阅读，随身带个侏罗纪是一部都市小说,由木鱼和尚创作,起点提供首发更新。第四百六十一章 杀鸡儆猴 如何解释(2016.09.27)" />
        <title>{{ novel.novelname }}</title>
        <link href="{% static 'css/chapter.css' %}" rel="stylesheet" />
    </head>
<body>

    <!-- Full Screen -->
    <div class="full-pic"></div>
    <!-- sidebar -->
    <div class="sidebar">
        <span class="return iconfont">&#xe618;</span>

        <!-- dire -->
        <span id="lan-Top"  class="dir">
            <span class="dir-wrap">
                <i class="iconfont">&#xe60b;</i>
                <p>目录</p>
            </span>
            <div class="dir-content" style="display: none;">
                <h3>
                    <i class="iconfont close">&#xe605;</i>
                    <span class="content-txt">目录</span>
                </h3>

                <div class="title-list">

{#                    <div class="title-wrap">#}
{#                        <h2>#}
{#                            <span>#}
{#                                作品相关#}
{#                                <i class="iconfont dir-icon icon-icon2"></i>#}
{#                            </span>#}
{#                        </h2>#}
{##}
{#                        <ul class="dir-list">#}
{#                            {% for chapter in chapters %}#}
{#                                <li><a href="{% url 'chapter' chapter.chapterid  %} ;">{{ chapter.title }}</a></li>#}
{#                            {% endfor %}#}

{#                            <li><a href="javascript: void(0);">序章</a></li>#}
{#                            <li><a href="javascript: void(0);">第一章 青墟</a></li>#}
{#                            <li><a href="javascript: void(0);">第二章 感情</a></li>#}
{#                            <li><a href="javascript: void(0);">第三章 混沌</a></li>#}
{#                            <li><a href="javascript: void(0);">第四章 琐屑</a></li>#}
{#                            <li><a href="javascript: void(0);">第五章 继续</a></li>#}
{#                            <li><a href="javascript: void(0);">第六章 重手</a></li>#}
{#                            <li><a href="javascript: void(0);">第七章 杀机</a></li>#}
{#                            <li><a href="javascript: void(0);">第八章 从容</a></li>#}
{#                            <li><a href="javascript: void(0);">第九章 离去</a></li>#}
{#                            <li><a href="javascript: void(0);">第十章 探究</a></li>#}
{#                            <li><a href="javascript: void(0);">第十一章 队伍</a></li>#}
{#                            <li><a href="javascript: void(0);">第十二章 修炼</a></li>#}
{#                            <li><a href="javascript: void(0);">第十三章 堵截</a></li>#}
{#                            <li><a href="javascript: void(0);">第十四章 置身事外</a></li>#}
{#                            <li><a href="javascript: void(0);">第十五章 恢复</a></li>#}
{#                            <li><a href="javascript: void(0);">第十六章 武圣</a></li>#}
{#                            <li><a href="javascript: void(0);">第十七章 偶遇</a></li>#}
{#                            <li><a href="javascript: void(0);">第十八章 购剑</a></li>#}
{#                            <li><a href="javascript: void(0);">第十九章 听剑</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十章 来势汹汹</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十一章 祸从口出</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十二章 实力</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十三章 强者法则</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十四章 打破束缚</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十五章 秘密</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十六章 剑意</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十七章 碾压</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十八章 洞悉</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十九章 混沌誓约</a></li>#}
{#                            <li><a href="javascript: void(0);">第三十章 三重解放</a></li>#}
{#                            <li><a href="javascript: void(0);">第三十一章 上门</a></li>#}
{#                        </ul>#}
{##}
{#                    </div>#}

                    <div class="title-wrap">
                        <h2>
                            <span>
                                作品相关
                                <i class="iconfont dir-icon icon-icon2"></i>
                            </span>
                        </h2>

                        <ul class="dir-list">
                            {% for chapter in sorts %}
                                  <li><a href="{% url 'chapter' chapter.chapterid  %}">{{ chapter.title }}</a></li>
                            {% endfor %}


{#                            <li><a href="javascript: void(0);">第一章 青墟</a></li>#}
{#                            <li><a href="javascript: void(0);">第二章 感情</a></li>#}
{#                            <li><a href="javascript: void(0);">第三章 混沌</a></li>#}
{#                            <li><a href="javascript: void(0);">第四章 琐屑</a></li>#}
{#                            <li><a href="javascript: void(0);">第五章 继续</a></li>#}
{#                            <li><a href="javascript: void(0);">第六章 重手</a></li>#}
{#                            <li><a href="javascript: void(0);">第七章 杀机</a></li>#}
{#                            <li><a href="javascript: void(0);">第八章 从容</a></li>#}
{#                            <li><a href="javascript: void(0);">第九章 离去</a></li>#}
{#                            <li><a href="javascript: void(0);">第十章 探究</a></li>#}
{#                            <li><a href="javascript: void(0);">第十一章 队伍</a></li>#}
{#                            <li><a href="javascript: void(0);">第十二章 修炼</a></li>#}
{#                            <li><a href="javascript: void(0);">第十三章 堵截</a></li>#}
{#                            <li><a href="javascript: void(0);">第十四章 置身事外</a></li>#}
{#                            <li><a href="javascript: void(0);">第十五章 恢复</a></li>#}
{#                            <li><a href="javascript: void(0);">第十六章 武圣</a></li>#}
{#                            <li><a href="javascript: void(0);">第十七章 偶遇</a></li>#}
{#                            <li><a href="javascript: void(0);">第十八章 购剑</a></li>#}
{#                            <li><a href="javascript: void(0);">第十九章 听剑</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十章 来势汹汹</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十一章 祸从口出</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十二章 实力</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十三章 强者法则</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十四章 打破束缚</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十五章 秘密</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十六章 剑意</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十七章 碾压</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十八章 洞悉</a></li>#}
{#                            <li><a href="javascript: void(0);">第二十九章 混沌誓约</a></li>#}
{#                            <li><a href="javascript: void(0);">第三十章 三重解放</a></li>#}
{#                            <li><a href="javascript: void(0);">第三十一章 上门</a></li>#}
                        </ul>

                    </div>

                </div>


            </div>
        </span>
    </div>

    <!--===== Header Begin =====-->
    <header class="header">
        <div class="wrap990" style="width: auto; max-width: 990px;">
            <div class="logo">
                <a href="{% url 'index' %}">潭州Python书院</a>
            </div>

            <div class="right-search">
                <form action="" target="_blank">
                    <input name="kw" type="text" />
                    <input id="search-submit" type="submit" value="" />
                    <label class="label-tag" for="search-submit">
                        <i class="iconfont">&#xe714;</i>
                    </label>
                </form>
            </div>
           
        </div>
    </header>
    <!--===== End Header =====-->



    <!--===== Main Begin =====-->
    <section class="main">
        <div class="wrap800 main-wrap">

                <div class="content">
                <h2>{{ chapter.novelname }}</h2>
                <h2>{{ chapter.title }}</h2>

                <div class="read-content j_readContent">
                    {{ chapter.content|safe}}
                </div>
            </div>



        </div>


        <div class="chapter-controll wrap800">

            <a href="{% url 'chapter' up %}">上一章</a><span></span><a href="{% url 'content' novel.novelid %}">目录</a><span></span><a href="{% url 'chapter' down %}">下一章</a>

        </div>
    </section>

    <!--===== End Main =====-->



<!-- Main Plugin -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/chapter.js' %} "></script>

</body>
</html>